.container {
    max-width: 1100px;
    margin: 4rem auto;
    padding: 0 2rem;
}

.card {
    display: flex;
    align-items: center;
    gap: 10%;
}

.imageWrapper {
    flex: 1;
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.cardInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.category {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    color: #1d2025;
}

.description {
    color: #68707d;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.currentPriceRow {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-size: 1.75rem;
    font-weight: 700;
    color: #1d2025;
}

.discount {
    background-color: #1d2025;
    color: white;
    padding: 2px 8px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 0.9rem;
}

@media (max-width: 850px) {
    .card {
        flex-direction: column;
        gap: 2rem;
    }

    .title {
        font-size: 2rem;
    }
}